.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: painted;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;

}
.Link{
  display: block;
}
.link1{
  display: inline;
  color: rgb(141, 13, 8);
  padding: 50px;
}
.link2{
  color: rgb(12, 58, 1);
  padding: 50px;
}
.link3{
  color: black;
  padding: 50px;
}
